*

!.gitignore
!dist.ini
!weaver.ini
!t/*/*/*/*
!t/*/*/*
!t/*/*
!t/*
!t/*
!t/
!lib/*/*/*/*/*
!lib/*/*/*/*
!lib/*/*/*
!lib/*/*
!lib/*
!lib/
!CHANGES
!LICENSE
!Makefile.PL
!README
!README.mkdn
!perlcritic*
!perltidy*

t/*/*/*.html
t/*/*.html
t/*.html